/*
 * box.css
 *
 * styles for box pages
 */


.loading {
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    height: calc(100% - 100px);
    width: 100%;
    z-index: 999998; 
    visibility: hidden;
}

/* 'new' page */

#nav-tabs-wrapper {
    height: 100px;
    position: relative;
    background: url('/images/cubes.png');
    border-bottom: 1px solid #e5e5e5;
}

.nav-tabs {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 15px;
    border: none !important;
}

.nav-tabs > li > a {
    border: none !important;
}

.nav-tabs a {
    color: #777 !important;
    background: transparent !important;
}

.nav-tabs a:hover {
    color: #3276b1 !important;
    background: transparent !important;
}

.nav-tabs > li.active > a {
    background: #ffffff !important;
    border-left: 1px solid #e5e5e5 !important;
    border-right: 1px solid #e5e5e5 !important;   
    outline: none;
    border-radius: 0; 
    margin-right: 0px;
}

.nav-tabs > li.active > a::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    height: 2px;
    background-color: transparent;
    border-top: 2px solid #3276b1 !important;
}

.nav-tabs li {
    width: 50%;
    text-align: center;
}

.tab-content {
    height: calc(100% - 70px);
    padding-top: 30px;
    padding-bottom: 30px;
}

#tab-placeholder {
    text-align: center;
}

#tab-placeholder h1 {
    font-size: 32px;
}

#tab-placeholder h2 {
    font-family: "RobotoLight";
    font-size: 20px;
}

#tab-vagrantfile, #tab-parameters {
    width: 100%;
    text-align: center;
}

#tab-vagrantfile textarea {
    resize: vertical;
    min-height: 400px;
}

.form-group > input {
    display: inline-block !important;
    width: 250px !important;
}

/* 'list' page */

#list-header {
    height: 100px;
    position: relative;
    background: url('/images/cubes.png');
    border-bottom: 1px solid #e5e5e5;
}

#list-header h1 {
    text-align: center;
    font-size: 20px;
}

.table-wrapper {
    height: calc(100% - 70px);
    padding-top: 30px;
    padding-bottom: 30px;
}
