/*!
 * fonts.css
 *
 * fonts styles for site
 */


/* font-family: "RobotoMonoRegular"; */
@font-face {
    font-family: "RobotoMonoRegular";
    src: url("../fonts/RobotoMono/RobotoMono-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMonoLight"; */
@font-face {
    font-family: "RobotoMonoLight";
    src: url("../fonts/RobotoMono/RobotoMono-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/Icomoon/icomoon.eot?ccszoz');
  src:  url('../fonts/Icomoon/icomoon.eot?ccszoz#iefix') format('embedded-opentype'),
    url('../fonts/Icomoon/icomoon.ttf?ccszoz') format('truetype'),
    url('../fonts/Icomoon/icomoon.woff?ccszoz') format('woff'),
    url('../fonts/Icomoon/icomoon.svg?ccszoz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e900";
}
.icon-embed:before {
  content: "\e904";
}
.icon-layers2:before {
  content: "\e902";
}
.icon-box:before {
  content: "\e907";
}
.icon-error_outline:before {
  content: "\e903";
}
