/*
 * index.css
 *
 * styles for index page
 */


/* anonymous user */

#welcome {
    height: 100vh;
    min-height: 750px;
    text-align: center;
    display: block;
    position: relative;
    background: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.9)
    ), url('/images/drawing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row.equal {
    display: flex;
    flex-wrap: wrap;
  }

#welcome img {
    width: 200px;
    height: 200px;
}

#welcome h1 {
    font-size: 72px;
}

#welcome h2 {
    font-family: "RobotoLight";
    font-size: 48px;
}

/* authorized user */

#display-name {
    background: url('/images/cubes.png');
    display: block;
    position: relative;
    height: 120px;
    border-bottom: 1px solid #e5e5e5;
}

#display-name h1 {
    text-align: center;
    font-size: 20px;
}

#doughnut-charts {
    display: block;
    position: relative;
    padding: 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

.doughnut-chart {
    text-align: center;
    margin: 10px;
    min-width: 300px;
    height: 300px;
}

.doughnut-chart > p {
    font-size: 20px;
}

#empty-placeholder a, 
#empty-placeholder a:hover, 
#empty-placeholder a:active, 
#empty-placeholder a:focus {
    font-size: 20px;
    outline: none;
    border: none;
    text-decoration: none;
}

#last-ten-worked {
    display: block;
    position: relative;
    padding: 30px 0;
}

#last-ten-worked h1 {
    text-align: left;
    margin-top: 0px;
    padding-bottom: 20px;
    font-size: 20px;
}

#last-ten-worked p {
    text-align: left;
}

#last-ten-worked table {
    width: auto !important;
    font-size: 12px;
    margin-bottom: 0px;
}

#last-ten-worked table td, #last-ten-worked table th {
    border: none;
}
