/*
 * index.css
 *
 * styles for index page
 */


/* anonymous user */

#welcome {
    height: calc(100vh - 100px);
    min-height: 750px;
    text-align: center;
    padding: 50px 0;
    display: block;
    position: relative;
    border-top: 3px solid;
    border-bottom: 2px solid;
    background: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.9)
    ), url('/images/drawing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#welcome img {
    width: 200px;
    height: 200px;
}

#welcome h1 {
    font-size: 72px;
}

#welcome h2 {
    font-family: "RobotoLight";
    font-size: 48px;
}

/* authorized user */

#display-name {
    background: url('/images/cubes.png');
    display: block;
    position: relative;
    padding: 100px 0;
    border-bottom: 1px solid #e5e5e5;
}

#display-name h1 {
    text-align: center;
    font-size: 32px;
}

#doughnut-charts {
    display: block;
    position: relative;
    padding: 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

.doughnut-chart {
    text-align: center;
    margin: 10px;
    min-width: 300px;
    height: 300px;
}

.doughnut-chart > p {
    font-family: "RobotoLight"; 
    font-size: 20px;
}

#line-chart {
    display: block;
    position: relative;
    text-align: center;
    padding: 30px 0;
}

#line-chart p { 
    font-size: 20px;
    padding-bottom: 20px;
}

#line-chart canvas {
    max-width: calc(100vw - 60px);
}
