/*
 * index.css
 *
 * styles for index page
 */


/* anonymous user */

#welcome {
    height: calc(100vh - 100px);
    min-height: 750px;
    text-align: center;
    padding: 50px 0;
    display: block;
    position: relative;
    border-top: 3px solid;
    border-bottom: 2px solid;
    background: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.9)
    ), url('/images/drawing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#welcome img {
    width: 200px;
    height: 200px;
}

#welcome h1 {
    font-size: 72px;
}

#welcome h2 {
    font-family: "RobotoLight";
    font-size: 48px;
}

/* authorized user */

#display-name {
    background: url('/images/cubes.png');
    display: block;
    position: relative;
    height: 120px;
    border-bottom: 1px solid #e5e5e5;
}

#display-name h1 {
    text-align: center;
    font-size: 20px;
}

#doughnut-charts {
    display: block;
    position: relative;
    padding: 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

.doughnut-chart {
    text-align: center;
    margin: 10px;
    min-width: 300px;
    height: 300px;
}

.doughnut-chart > p {
    font-size: 20px;
}

#empty-placeholder img {
    width: 30px;
    height: 30px;
    filter: opacity(.5) drop-shadow(0 0 0 #e5e5e5);
}

#empty-placeholder a {
    font-family: "RobotoLight";
    font-size: 20px;
    color: #777;
}

#last-ten-worked {
    display: block;
    position: relative;
    padding: 30px 0;
}

#last-ten-worked h1 {
    text-align: left;
    padding-bottom: 20px;
    font-size: 20px;
}

#last-ten-worked p {
    text-align: left;
    
}

#last-worked-table {
    width: auto !important;
    font-size: 12px;
}

#last-worked-table td, #last-worked-table th {
    border: none;
}
