html, body {
    height: 100%;
    margin: 0;
    font-size: 14px;
}

body {
    font-family: 'RobotoRegular', Helvetica, Arial, sans-serif!important;
}

.navbar a {
    color: #777 !important;
}

.navbar a:hover {
    color: #3276b1 !important;
}

.content {
    display: table;
    height: inherit;
    width: 100%;
}

.content-inside {
    display: table-cell;
    height: 100%;
    padding-bottom: 50px;
}

.navbar {
    background-color: #ffffff;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    display: table-cell;
    height: 100%;
    padding: 15px;
    width: auto;
}

.navbar-fixed-top {
    border-color: #e0d9d9;
    box-shadow: 0px 0.0625em 0.3125em rgba(0, 0, 0, 0.15);
}

.active a {
    background: #ffffff !important;
    border-bottom: 2px solid #3276b1 !important;
}

.open a {
    background: #ffffff !important;
}

.dropdown-menu a {
    border: 0px !important;
}

.footer {
    height: 50px;
    margin-top: -50px;
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #777;
}

.copyright {
    font-size: 12px;
    text-align: center;
    line-height: 48px;
}

.dev:hover .credits {
    visibility: visible;
}

.dev-icon {
    color: #e5e5e5;
    font-size: 25px;
    float: left;
    padding-top: 12px;
    padding-left: 13px;
    position: absolute;
    cursor: default;
}

.dev {
    position: relative;
}

.credits {
    font-family: "AnonymousPro";
    font-size: 14px;
    text-align: right;
	position: absolute;
    bottom: 0px;
    left: 15px;
    padding: 15px;
	background: #fff;
	border: 2px solid #777;
    border-radius: 6px;
    visibility: hidden;
}

.credits:focus {
    visibility: visible;
}

.credits:after, .credits:before {
	top: 100%;
	left: 6%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.credits:after {
	border-top-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}

.credits:before {
	border-top-color: #777;
	border-width: 8px;
	margin-left: -8px;
}

.icon-heart {
    font-size: 18px;
}

/* align content in center */

.outer-center {
    height: 100%;
    display: flex;
    justify-content: center;
}

.inner-center {
    text-align: center;
    align-self: center;
    margin: auto;
}

 
/* TODO remove in production */

.bubble-tag {
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    text-shadow: #000 1px 1px 2px;
    background: #E02424;
    border-radius: 3px;
    padding: 1px 4px;
    position: relative;
    top: -10px;
    right: 10px;
}
