html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'RobotoRegular', Helvetica, Arial, sans-serif!important;
    background-repeat: repeat;
    background: url('/img/cubes.png');
}

.content {
    display: table;
    height: inherit;
    width: 100%;
}

.content-inside {
    display: table-cell;
    height: 100%;
    padding-bottom: 50px;
}

.navbar {
    font-family: 'RobotoMedium';
    margin-bottom: 0px;
}

.navbar-right {
    padding-right: 15px;
}

.navbar-fixed-top {
    border-color: #e0d9d9;
    box-shadow: 0px 0.0625em 0.3125em rgba(0, 0, 0, 0.15);
}

.footer {
    height: 50px;
    margin-top: -50px;
    background-color: #f8f8f8;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}

.copyright {
    font-size: 12px;
    text-align: center;
    line-height: 48px;
}

/* align content in center */
.outer-center {
    height: 100%;
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
}
.inner-center {
    text-align: center;
    align-self: center;
    margin: auto;
}


/* index page */

.anon-welcome {
    height: calc(100vh - 50px);
    text-align: center;
    padding: 50px 0;
    display: block;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.anon-welcome h1 {
    font-size: 72px;
}

.anon-welcome h2 {
    font-size: 48px;
}

.anon-welcome a {
    font-size: 14px;
    bottom: 20px;
    color: #3276b1;
}

.anon-welcome::after {
    content: "";
    background: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(50, 118, 177, 1)
    ), url('/img/box.png');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.anon-why-use {
    padding: 50px 0;
    display: block;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.anon-why-use h1 {
    text-align: center;
    font-size: 48px;
}

.anon-why-use h2 {
    text-align: left;
    font-size: 32px;
}

.anon-why-use h3 {
    text-align: justify;
    color: #777;
    font-size:20px;
}

.anon-why-use::after {
    content: "";
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.anon-authorize-request {
    text-align: center;
    padding: 30px 0;
    display: block;
    position: relative;
    color: #777;
}

.anon-authorize-request h1 {
    font-size: 20px;
}

.anon-authorize-request h2 {
    font-size: 12px;
}

.anon-authorize-request a {
    color: #3276b1;
}

.paragraph {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.paragraph span {
    margin: auto;
    color: #3276b1;
    font-size: 100px;
}
